/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Giga:wght@100..900&display=swap');

/* Wild card selector to override default styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Body styles */
body {
    font-family: 'Lexend Giga', Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    color: rgb(57, 57, 57);
    margin: 80px 20px;
}

/* Buttons styling */
.buttons {
    margin-bottom: 50px;
    font: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.buttons button {
    font-size: 3rem;
    min-width: 160px;
    margin: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    size: 225px;
    background-color: #f5f4f0;
    
}

.buttons img{
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

/* Player and Computer Displays */
#playerComputerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;
}


#playerDisplay, #computerDisplay {
    font-size: 2rem;
    color: rgb(57, 57, 57);
}



#resultDisplay {
    font-size: 3rem;
}

/* Media Querys: Tabelts and larger (768px and up) */
@media only screen and (min-width: 768px){

    h1{

    }
}
    