/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Giga:wght@100..900&display=swap');

/* Body styles */
body {
    font-family: 'Lexend Giga', Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    color: rgb(57, 57, 57);
}

/* Buttons styling */
.buttons {
    margin-bottom: 50px;
    font: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons button {
    font-size: 3rem;
    min-width: 160px;
    margin: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

#playerDisplay, #computerDisplay {
    font-size: 2rem;
}

#resultsDisplay {
    font-size: 3rem;
}